{
  "extends": [
    "airbnb-base",
    "next/core-web-vitals",
    "plugin:import/recommended",
    "plugin:tailwindcss/recommended",
  ],
  "plugins": [
    "simple-import-sort",
    "unused-imports",
    "react-hooks",
    "eslint-plugin-react",
    "eslint-plugin-import",
    "tailwindcss",
  ],
  "rules": {
    "semi": ["error", "never"],
    "no-undef": "error",
    "no-use-before-define": "error",
    "no-underscore-dangle": ["error", { "allow": ["_uid"] }],
    "no-shadow": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "linebreak-style": ["off"],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 2 },
      },
    ],
    "array-bracket-spacing": ["error", "always"],
    "block-spacing": ["error", "always"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/no-unresolved": "error",
    "import/prefer-default-export": "off",
    "import/order": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "jsx-a11y/role-supports-aria-props": "off", //TODO: Should be turned on once refactoring is finished
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "export", "next": "*" },
      { "blankLine": "always", "prev": "const", "next": "*" },
      { "blankLine": "always", "prev": "let", "next": "*" },
      { "blankLine": "always", "prev": "function", "next": "*" },
      { "blankLine": "always", "prev": "return", "next": "*" },
    ],
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "extends": ["plugin:prettier/recommended"],
    },
    {
      "files": ["**/*.stories.jsx"],
      "rules": {
        "import/no-anonymous-default-export": "off",
      },
    },
  ],
}
